/**************************************************************/
/* Allgemein */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "helvetica", sans-serif;
  font-style: small;
  font-size: 16px;
}

h1 {
  font-size: 1, 5 rem;
}
h2 {
  font-size: 1rem;
  color: black;
}

/**************************************************************/
/**************************************************************/
/* Speziefisch */

body {
  background-color: lightblue;
  padding: 5rem;
}
